<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../../static/css/public/public.css" th:href="@{/css/public/public.css}">
    <link rel="stylesheet" href="../../static/css/user/login.css" th:href="@{/css/user/login.css}">
    <script src="https://kit.fontawesome.com/3d4b55021f.js" crossorigin="anonymous"></script>
    <script src="../../static/js/user/login.js" th:src="@{/js/user/login.js}" defer></script>
</head>
<body>
    <header></header>
    <main>
        <h1>로그인</h1>
        <form method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <section id="login-info-section">
                <label id="id">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="id">
                </label>
                <label id="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password">
                    <i id="password-view-btn" class="fa-solid fa-eye"></i>
                </label>
            </section>
            <section id="login-id-remember">
                <label>
                    <input type="checkbox">
                    <span>아이디 저장</span>
                </label>
            </section>
                <button id="login-btn">로그인</button>
        </form>
        <section id="nav-section">
            <a href="/user/findId">아이디 찾기</a>
            <a href="/user/resetPassword">비밀번호 재설정</a>
            <a href="/user/register">회원가입</a>
        </section>
        <section id="simple-login-section">
            <h4>간편 로그인</h4>
            <div>
                <a href="/oauth2/authorization/kakao"><img src="../../static/icons/kakao-login.png" th:src="@{/icons/kakao-login.png}" /></a>
                <a href="/oauth2/authorization/naver"><img src="../../static/icons/naver-login.png" th:src="@{/icons/naver-login.png}"/></a>
                <a href="/oauth2/authorization/google"><img src="../../static/icons/google-login.png" th:src="@{/icons/google-login.png}"/></a>
            </div>
        </section>
    </main>
</body>
</html>