body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

aside {
    width: 250px; /* aside의 너비 설정 */
    background-color: #fff; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    padding: 20px; /* 패딩 설정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    position: fixed; /* 고정 위치 */
    height: 100%; /* 전체 높이 설정 */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9; /* 배경색 변경 */
    margin-bottom: 20px;
}

.menu {
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 5px 0;
}

.menu li ul {
    padding-left: 20px;
}

.sub-menu {
    display: none; /* 처음 진입할때 메인 메뉴만 표시 */
}

.major-menu.open > .sub-menu {
    display: block; /* 클릭하면 하위 메뉴들 표시 */
}

